<div class="education">
    <div class="students__title">Абитуриентам / Каталог образования</div>
    <div class="flex__section">

    </div>
    <hr>
    <div class="about-institution">
        <div class="flex__section">
            <img style="margin-top: 30px; margin-left: 30px;" src="{{institut.img}}" alt="">

            <div class="flex__item-institute-descr">
                <div class="flex__item-institute-title">
                    {{institut.name}}
                </div>
                {{institut.place}} <br> Сайт: {{institut.url}} <br>  <br>
            </div>
            <img src="../../assets/images/education_institution/pin.svg" style="margin-bottom: 90px;" alt="">
        </div>
    </div>
    <div class="polyclinic__statistic">
        <div class="polyclinic__statistic-list">
            <h3 class="polyclinic__statistic-item">
                <a href="programs">
                    <span class="polyclinic__statistic-title">{{institut.program.length}}</span>
                    <br> Образовательных программ
                </a>
            </h3>
            <h3 class="polyclinic__statistic-item">
                <span class="polyclinic__statistic-title">{{institut.budjet_places}}</span>
                <br> Бюджетных мест
            </h3>
            <h3 class="polyclinic__statistic-item">
                <span class="polyclinic__statistic-title">{{institut.average_price}}</span>
                <br> Сред. стоимость за год, тыс. руб.
            </h3>
            <!-- <h3 class="polyclinic__statistic-item">
                <span class="polyclinic__statistic-title">3068</span>
                <br> Общее число сотрудников
            </h3> -->
        </div>
    </div>
    <app-programs></app-programs>
</div>