<body>
    <nav class="navbar" style="font-size: large; outline-style:solid; outline-width: 1px; outline-color: #eee">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <!-- <a class="navbar-brand" style="padding-left: 60px" href="#"><img src="assets/images/4.png" alt="Avatar" class="ico"></a> -->
                <!-- <a class="navbar-brand" style="padding-left: 20px" href="#"><img src="assets/images/5.png" alt="Avatar" class="ico"></a> -->
                <a href="" class="navbar-brand">
                    <img src="../../assets/images/logo-mir.png" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" style="padding-top: 10px; padding-left: 40px">
                    <li><a href="#">Профессии</a></li>
                    <li><a href="#">Мнения</a></li>
                    <li><a href="#">Каталог образования</a></li>
                    <li><a href="#">Работадатели</a></li>
                    <li><a href="#">Журнал</a></li>
                    <li></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" style="padding-top: 10px; padding-right: 50px">
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Search..">
                                <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li><a><i class="fa fa-bell"></i></a></li>
                    <li><a><i class="fa fa-cog"></i></a></li>
                    <li><a href="company"><i class="fa fa-question-circle"></i></a></li>
                    <li><a href="/auth" (click)="onlodaut()"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>

                </ul>
            </div>
        </div>
        <br>
    </nav>
</body>