<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>

<div style="padding-bottom: 10% ; padding-left: 30px"><img src="{{img}}" style="padding-top: 3%;" align="left" />
    <h4 style="padding-left: 100px;font-family: inherit;
	  font-size: x-large;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	padding-top: 3%">{{mainuser.name}}</h4>
    <p style="padding-left: 100px;font-family: inherit;
font-style: normal;
font-weight: normal;
color: #84919A;
font-size: large;
line-height: 22px;">Студент</p>
</div>
<ul class="nav nav-pills nav-stacked my" style="
	padding-left: 50px;
	z-index: 10;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: large;
	line-height: 24px;
	padding-top: 0px">
    <li class=""><a href="" class="leftmenu"><i class="fas fa-file-alt" style="padding-right: 10px"></i>Главная</a></li>
    <li><a href="study" class="leftmenu"><i class="fa fa-book" style="padding-right: 10px"></i>Обучающие курсы</a></li>
    <li><a href="chat" class="leftmenu"><i class="fa fa-envelope" style="padding-right: 10px"></i>Чаты</a></li>
    <li><a href="board" class="leftmenu"><i class="fa fa-trophy"></i>Лавка достижений</a></li>
    <li><a href="project" class="leftmenu"><i class="fa fa-chart-line" style="padding-right: 10px"></i>Проекты</a></li>
    <li><a href="commands" class="leftmenu"><i class="fa fa-chart-line" style="padding-right: 10px"></i>Команды</a></li>
    <li><a href="metriks" class="leftmenu"><i class="fa fa-star" style="padding-right: 10px"></i>Оценка точности</a></li>
    <li><a href="education" class="leftmenu"><i class="fa fa-book" style="padding-right: 10px"></i>Образование</a></li>
    <li><a href="developments" class="leftmenu"><i class="fa fa-book" style="padding-right: 10px"></i>События</a></li>
    <li>
        <hr>
    </li>
    <li><a href="map" class="leftmenu"><i class="fa fa-map-marker-alt" style="padding-right: 10px"></i>Виртуальная экскурсия</a></li>
    <li><a href="ymap" class="leftmenu"><i class="fa fa-map-marker-alt" style="padding-right: 10px"></i>Карта учебных заведений</a></li>
    <li><a href="idea" class="leftmenu"><i class="fa fa-lightbulb"  style="padding-right: 10px"></i>Лавка идей</a></li>
    <li> <a href="news" class="leftmenu"><i class="fa fa-question-circle" style="padding-right: 10px"></i> Новости</a></li>

    <li><a href="todo" class="leftmenu"><i class="fa fa-th-list" style="padding-right: 10px"></i>Todo list</a></li>

    <li><a href="kalendar" class="leftmenu"><i class="fas fa-calendar-alt" style="padding-right: 10px"></i>Календарь</a></li>
    <hr>
    <li><a href="user" class="leftmenu"><i class="fa fa-user" style="padding-right: 10px"></i>Аккаунт</a></li>
    <li><a href="doc" class="leftmenu"><i class="fa fa-th-list" style="padding-right: 10px"></i>Документы</a></li>
    <li><a href="contacts" class="leftmenu"><i class="fa fa-file-word" style="padding-right: 10px"></i>Контакты</a></li>
    <li> <a href="company" class="leftmenu"><i class="fa fa-question-circle" style="padding-right: 10px"></i> FAO</a></li>
    <li><a href="/auth" (click)="onlodaut()" class="leftmenu"><span class="glyphicon glyphicon-log-in" style="padding-right: 10px" ></span>Выход</a></li>


</ul>
<br>