<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />

<h1 style= "font-size: x-large; text-align: left; margin-left: 3%; font-weight:bold">Приветствуем тебя в нашем вузе!</h1>
<p style="font-size: large; margin-left: 7%;margin-right: 7%;margin-top: 2%;">
  Мы бесконечно рады тому, что наша команда совсем скоро пополнится единомышленником в твоем лице! Чтобы не потерятся и не запутаться на первых шагах, мы собрали для тебя Сборник материалов для студента. Надеемся, что их изучение поможет тебе сориентироваться в вузе и быстрее стать частью нашей команды.
  <br><br>
  Данный сервис будет помогать тебе на протяжении всей работы. Для начала советуем тебе посетить чат-бота, он подробнее расскажет тебе о первых этапах твоей работы и поможет сориентироваться на сервисе и в работе.
</p>
<br>

<style>
  .serviceBox{
    background: #fff;
    text-align: center;
    padding: 20px 0 40px;
    position: relative;
  }
  .serviceBox:hover{
    background:#98d7ce;
  }
  .serviceBox .service-icon{
    width: 100px;
    height: 100px;
    line-height: 95px;
    border-radius: 50%;
    border: 3px solid #b3b3b3;
    font-size: 50px;
    color: #b3b3b3;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
  }
  .serviceBox:hover .service-icon{
    transform: rotateY(360deg);
    color: #fff;
    border-color: #fff;
    background: #4acab4;
  }
  .serviceBox .service-content h3 a{
    font-size: 22px;
    color: #333;
  }
  .serviceBox .service-content p{
    font-size: 14px;
    padding: 0 20px;
    margin: 15px 0 30px;
    color:#333;
  }
  .serviceBox:hover h3 a,
  .serviceBox:hover p{
    color:#fff;
  }
  .serviceBox .btn{
    background: #4acab4;
    color: #fff;
    padding: 10px 35px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
  }
  .serviceBox:hover .btn{
    background: #333;
    color: #fff;
  }
  @media screen and (max-width: 990px){
    .serviceBox{
      margin-bottom: 20px;
      padding: 20px 0;
    }
  }
</style>

<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-6">
      <div class="serviceBox">

        <div class="service-content">
          <h3><a  style="font-size: x-large; font-weight:bold">Правила</a></h3>
          <div>
            <img class="center" src="https://image.freepik.com/free-vector/check-list-on-the-clipboard-with-hand-holding_39663-49.jpg" style="height: 150px;width: auto; margin: 3%;">
          </div>
          <br>
        </div>
        <div class="read">
          <a  class="btn btn-default" style="font-size: large;">Скачать</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="serviceBox">
        <div class="service-content">
          <h3><a  style="font-size: x-large; font-weight:bold">Видео</a></h3>
          <div>
            <img class="center" src="https://yt3.ggpht.com/a/AATXAJzOhYrOJfK4DjMAaGELcFlJPyTiACS_QWW1pQ=s900-c-k-c0xffffffff-no-rj-mo" style="height: 150px;width: auto; margin: 3%;">
          </div>
          <br>
        </div>
        <div class="read">
          <a  class="btn btn-default" style="font-size: large;">Смотреть</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="serviceBox">
        <div class="service-content">
          <h3><a  style="font-size: x-large; font-weight:bold">Памятка студента</a></h3>
          <div>
            <img class="center" src="https://thumbs.dreamstime.com/b/и-юстрация-вектора-книги-в-руке-74217331.jpg" style="height: 150px;width: auto; margin: 3%;">
          </div>
          <br>
        </div>
        <div class="read">
          <a  class="btn btn-default" style="font-size: large;">Скачать</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6" style="margin-left: 20%">
      <div class="serviceBox">
        <div class="service-content">
          <h3><a  style="font-size: x-large; font-weight:bold">Новости</a></h3>
          <div>
            <img class="center" src="assets/news.png" style="height: 150px;width: auto; margin: 3%;">
          </div>
          <br>
        </div>
        <div class="read">
          <a  href="news" class="btn btn-default" style="font-size: large;">открыть</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="serviceBox">
        <div class="service-content">
          <h3><a  style="font-size: x-large; font-weight:bold">Проекты</a></h3>
          <div>
            <img class="center" src="assets/pr.jpg" style="height: 150px;width: auto; margin: 3%;">
          </div>
          <br>
        </div>
        <div class="read">
          <a  href="progect" class="btn btn-default" style="font-size: large;">открыть</a>
        </div>
      </div>
    </div>


  </div>
</div>
