<div class="education">
    <div class="students__title">События</div>

    <div class="developments__top">
        <input class="developments__top-input" type="text" placeholder="Поиск...">
        <p class="developments__top-dropdown">Тематика:</p>
        <p class="developments__top-dropdown">Дата:</p>
        <hr>
    </div>
    <div class="developments__list">
        <div class="developments__list-item">
            <img src="../../assets/images/events-img.png" alt="" class="developments__list-img">
            <h3 class="developments__list-title">Фестиваль “Ввысь”</h3>
            <h4 class="developments__list-text-blue">НГТУ им.Р.Е.Алексеева 22 января 2021</h4>
            <a href="developments" class="developments__list-link">Пойти</a>
        </div>

        <div class="developments__list-item" style="margin-right: 26px;">
            <img src="../../assets/images/events-img.png" alt="" class="developments__list-img">
            <h3 class="developments__list-title">Фестиваль “Ввысь”</h3>
            <h4 class="developments__list-text-blue">НГТУ им.Р.Е.Алексеева 22 января 2021</h4>
            <a href="developments" class="developments__list-link">Пойти</a>
        </div>

        <div class="developments__list-item">
            <img src="../../assets/images/events-img.png" alt="" class="developments__list-img">
            <h3 class="developments__list-title">Фестиваль “Ввысь”</h3>
            <h4 class="developments__list-text-blue">НГТУ им.Р.Е.Алексеева 22 января 2021</h4>
            <a href="developments" class="developments__list-link">Пойти</a>
        </div>
    </div>
</div>