<div class="education">
    <div class="students__title">Проекты</div>

    <div class="projects__btns">
        <a href="#" class="projects__btn" style="margin-right: 25px;">Мои проекты</a>
        <a href="#" class="projects__btn">Рекомендации</a>
    </div>

    <div class="developments__top">
        <input class="developments__top-input" type="text" placeholder="Поиск...">
        <p class="developments__top-dropdown">Проекты:</p>
        <p class="developments__top-dropdown">Профиль:</p>
        <a href="" class="developments__top-edit">
            <img src="../../assets/images/developments__top-edit.svg" alt="" class="developments__top-img"> создать проект
        </a>
        <hr>
    </div>

    <div class="projects__main">
        <div class="projects__main-item">
            <div class="projects__main-wrapper">
                <div class="projects__main-left">
                    <img src="../../assets/images/projects__main-img.png" alt="" class="projects__main-img">
                    <a href="" class="projects__main-link">Отправить заявку</a>
                </div>

                <div class="projects__main-right">
                    <h3 class="projects__main-title">Образовательная программа</h3>
                    <p class="projects__main-field">E-mail:
                        <span class="projects__main-text"> pol7-nn@mail.ru</span>
                    </p>
                    <p class="projects__main-field">Телефон:
                        <span class="projects__main-text"> +7(976)345768</span>
                    </p>
                    <p class="projects__main-field">Участники:
                        <span class="projects__main-text">Иванов Иван Иванович, Петров Петров Петрович, Сидоров Семен Семенович</span>
                    </p>

                    <p class="projects__main-next">Краткое содержание....</p>
                </div>
            </div>

            <div class="projects__main-footer">
                <p class="projects__main-next">Профили:</p>
                <a href="#" class="projects__footer-link">Data science</a>
                <a href="#" class="projects__footer-link">Анализ данных</a>
                <a href="#" class="projects__footer-link">Data science</a>
            </div>
        </div>

        <div class="projects__main-item">
            <div class="projects__main-wrapper">
                <div class="projects__main-left">
                    <img src="../../assets/images/projects__main-img.png" alt="" class="projects__main-img">
                    <a href="" class="projects__main-link">Отправить заявку</a>
                </div>

                <div class="projects__main-right">
                    <h3 class="projects__main-title">Образовательная программа</h3>
                    <p class="projects__main-field">E-mail:
                        <span class="projects__main-text"> pol7-nn@mail.ru</span>
                    </p>
                    <p class="projects__main-field">Телефон:
                        <span class="projects__main-text"> +7(976)345768</span>
                    </p>
                    <p class="projects__main-field">Участники:
                        <span class="projects__main-text">Иванов Иван Иванович, Петров Петров Петрович, Сидоров Семен Семенович</span>
                    </p>

                    <p class="projects__main-next">Краткое содержание....</p>
                </div>
            </div>

            <div class="projects__main-footer">
                <p class="projects__main-next">Профили:</p>
                <a href="#" class="projects__footer-link">Data science</a>
                <a href="#" class="projects__footer-link">Анализ данных</a>
                <a href="#" class="projects__footer-link">Data science</a>
            </div>
        </div>
    </div>

</div>