.container {
    margin: 0 auto;
    border-radius: 5px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.final-table {
    padding: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background-color: rgb(185, 185, 185);
    border-radius: 8px;
}

th,
td {
    padding: 8px;
}

.payment-verify {
    background-color: rgb(241, 241, 114);
    border-radius: 8px;
    ;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
}

.payment {
    background-color: rgba(138, 253, 244, 0.836);
    padding: 8px;
    border-radius: 8px;
}

.order-buy {
    padding: 15px;
    border: 1px solid rgb(0, 206, 144);
    ;
    border-radius: 5px;
    background-color: rgb(0, 206, 144);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

.img-pay {
    margin: 0 auto;
}

#circularG {
    position: relative;
    width: 58px;
    height: 58px;
    margin: auto;
}

.circularG {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 14px;
    height: 14px;
    border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    animation-name: bounce_circularG;
    -o-animation-name: bounce_circularG;
    -ms-animation-name: bounce_circularG;
    -webkit-animation-name: bounce_circularG;
    -moz-animation-name: bounce_circularG;
    animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#circularG_1 {
    left: 0;
    top: 23px;
    animation-delay: 0.41s;
    -o-animation-delay: 0.41s;
    -ms-animation-delay: 0.41s;
    -webkit-animation-delay: 0.41s;
    -moz-animation-delay: 0.41s;
}

#circularG_2 {
    left: 6px;
    top: 6px;
    animation-delay: 0.55s;
    -o-animation-delay: 0.55s;
    -ms-animation-delay: 0.55s;
    -webkit-animation-delay: 0.55s;
    -moz-animation-delay: 0.55s;
}

#circularG_3 {
    top: 0;
    left: 23px;
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

#circularG_4 {
    right: 6px;
    top: 6px;
    animation-delay: 0.83s;
    -o-animation-delay: 0.83s;
    -ms-animation-delay: 0.83s;
    -webkit-animation-delay: 0.83s;
    -moz-animation-delay: 0.83s;
}

#circularG_5 {
    right: 0;
    top: 23px;
    animation-delay: 0.97s;
    -o-animation-delay: 0.97s;
    -ms-animation-delay: 0.97s;
    -webkit-animation-delay: 0.97s;
    -moz-animation-delay: 0.97s;
}

#circularG_6 {
    right: 6px;
    bottom: 6px;
    animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
}

#circularG_7 {
    left: 23px;
    bottom: 0;
    animation-delay: 1.24s;
    -o-animation-delay: 1.24s;
    -ms-animation-delay: 1.24s;
    -webkit-animation-delay: 1.24s;
    -moz-animation-delay: 1.24s;
}

#circularG_8 {
    left: 6px;
    bottom: 6px;
    animation-delay: 1.38s;
    -o-animation-delay: 1.38s;
    -ms-animation-delay: 1.38s;
    -webkit-animation-delay: 1.38s;
    -moz-animation-delay: 1.38s;
}

@keyframes bounce_circularG {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.3);
    }
}

@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(.3);
    }
}

@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1);
    }
    100% {
        -ms-transform: scale(.3);
    }
}

@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.3);
    }
}

@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(.3);
    }
}

.metrics__wrapper {
    margin-left: 150px;
}

.metrics__wrapper input {
    width: 360px;
    background: #E4EEF8;
    box-shadow: 0px 4px 4px rgba(38, 119, 189, 0.25);
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #383636 !important;
    margin-bottom: 20px;
}

.metrics__wrapper p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #383636;
    margin-bottom: 21px;
}

.metrics__wrapper button {
    background: #E4EEF8;
    box-shadow: 0px 4px 4px rgba(38, 119, 189, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 9px 22px;
    margin-right: 62px;
    border: none;
}

.students__title {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 300px;
    height: 58px;
    color: #113079;
    background-color: #78A9EF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 65px;
}

.flex__item {
    cursor: pointer;
    margin-bottom: 20px;
}

.flex__item__title {
    color: #383636;
    font-size: 22px;
    font-weight: bold;
}

select {
    width: 500px;
    height: 44px;
    font-size: 18px;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #E4EEF8;
    box-shadow: 0px 4px 4px rgba(38, 119, 189, 0.25);
    border-radius: 10px;
    border: none;
    cursor: inherit;
}