<div class="education">
    <div class="students__title">Взрослым</div>
    <div [routerLink]="['', 'education_adults_catalog']" routerLinkActive="active" class="students__pro-education">
        <img src="../../assets/images/education_abiturient/pro.svg" alt="">
    </div>
    <div class="flex__section">
        <div class="flex__item" [routerLink]="['', 'education_adults_catalog']" routerLinkActive="active">
            <img src="../../assets/images/education__adults/additional.png" alt="">
        </div>
        <div class="flex__item" [routerLink]="['', 'education_adults_catalog']" routerLinkActive="active">
            <img src="../../assets/images/education__adults/digital.png" alt="">
        </div>
    </div>
</div>