<head>


  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/header.css?time=1618686062"/>
  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/footer.css?time=1618686062"/>
  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/fm.revealator.jquery.css" id="revealator">
  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/media.css">
  <link rel="stylesheet" href="http://miriteam.com/styles/component.css" type="text/css" media="screen">
</head>
<body>
<div style="padding-left: 10%">
<h1>Новости</h1>
<section id="news1" class="block-news">
  <h2> Руководитель команды MirITeam - победитель хакатона Центробанка России</h2>
  <h3>14.10.2019</h3>
  <p>
    Руководитель команды MirITeam, Мираббас Багиров стал победителем хакатона, который проходил в рамках Форума
    инновационных финансовых технологий Finopolis 2019 в Сочи. Организатор мероприятия -
    Центральный Банк Российской Федерации в партнерстве с лидерами IT и финансового рынка.
    В отборочных испытаниях приняли участие 687 студента из России и стран Ближнего Зарубежья. Только 84
    участника прошли успешно отбор и объединились в 17 команд.
  </p>
  <img src="assets/new1.jpg">
  <p>
    За 24 часа команды должны были решить по одному бизнес-кейсу от лидеров финансового рынка:
    создание p2p-магазина для самозанятых, реализация проекта на блокчейне с большим количеством
    участников сети, геймификация, решение для кеш-менеджмента, идентификация пользователей агрегатора
    банковских продуктов, создание маркетплейсов, биометрической системы идентификации и т.п.
  </p>
  <article class="news-contain-image">
    <img src="assets/news_14_10_2019.jpg">
    <img src="assets/news2_14_10_2019.jpg">
  </article>
  <p>
    Основными критериями для жюри были креативность, инновационность,
    а главное – возможность реализации готового продукта на рынке.
    Команда Techtation, во главе с капитаном команды, Багировым Мираббасом, заняла в состязаниях первое место.
    Кстати, это не единственная победа MirITeam на форуме - также Мираббас успешно прошел квест, организованный АО «Газпромбанк».
  </p>
  <img src="assets/news1_14_10_2019.jpg">
  <p>
    Напомним, под руководством Мираббаса Багирова реализуется студенческий проект
    «Интеллектуальная система обеспечения безопасности на дорогах на основе
    видеоаналитики» в рамках Стратегического проекта программы развития
    Опорного университета «Проектно-ориентированное обучение – полный жизненный цикл».
  </p>
  <p> Источник:
    <a href="https://www.nntu.ru/news/detail/dostizheniya/vse-novosti/predstavitel-ngtu-im-re-alekseeva---pobeditel1975">НГТУ им. Р.Е.Алексеева</a>
  </p>
</section>
<hr>

<section id="news2" class="block-news">
  <h2>MirITeam на конкурсе VK Hackathon</h2>
  <h3>29.09.19</h3>
  <p>
    С 27 по 29 сентября прошло пятое масштабное соревнование от Команды ВКонтакте для программистов, дизайнеров и
    других специалистов из области разработки в Центральном выставочном зале «Манеж» города Санкт-Петербург.
    Свои проекты на VK Hackathon представили 600 участников из 150 команд.
  </p>
  <article class="news-contain-image">
    <img src="assets/news_29_09_19.jpg">
    <img src="assets/news1_29_09_19.jpg">
  </article>

    Одним из участников VK Hackathon стала команда MirITeam в под руководством Багирова Мираббаса.
    Представили проект в треке финтех DigITbank, который представляет собой клиент-серверное web-приложение,
    предназначенного для пользователей Промсвязь банка. Особенностями данной разработки стали:
  <ul>
    <li>Предложения ближайших заведений для посещения на основе геолокационных данных пользователя</li>
    <li>Интеллектуальная система подбора банковской карты/вклада</li>
    <li>Оптимизация использования сэкономленных денег для достижения личной цели</li>
    <li>Реферальная система</li>
    <li>Оценка кредитоспособности клиента на основе API ВКонтакте</li>
  </ul>

  <img src=assets/news2_29_09_19.jpg">
</section>
<hr>


<section class="block-news">
  <h2>MirITeam на конкурсе инновационных проектов Sky.Tech</h2>
  <h3>20.08.19</h3>
  <p>
    С 17 по 19 августа в Москве прошёл конкурс Sky. Tech — первый в России конкурс инновационных
    проектов в области городской аэромобильности, включающий в свою программу хакатон, участниками которого стала команда MirITeam.
  </p>
  <img src="assets/news_tech_2.jpg">
  <p>
    Sky.Tech Hack объединил на одной площадке инженеров, IT-разработчиков и бизнес-специалистов.
    Работая в командах и обмениваясь опытом, участники смогли усовершенствовать собственные концепции
    или создать новое решение для применения авиации в городской среде. Инженерам нужно было
    обосновать технические характеристики и условия использования разработки, а IT-специалисты
    занимались разработкой программного обеспечения для интеграции воздушного транспорта в жизнь мегаполиса.
  </p>
  <img src="assets/news_tech_1.jpg">

    На данном хакатоне команда под руководством Багирова Мираббаса выступила с проектом MirIDrones,
    который представляет собой клиент-серверное web-приложение, предназначенного для заказа аэротакси.
    Особенностями данной разработки стали:
  <ul>
    <li>Разработка алгоритма автоматического построения оптимальных маршрутов между любыми двумя посадочными платформами;</li>
    <li>Разработка централизованной системы взаимодействия летательных аппаратов между собой на основе роевого интеллекта.</li>
  </ul>

  <img src="assets/news_tech_3.jpg">
</section>
<hr>
<section  class="block-news">
  <h2>Нижегородские студенты стали лучшими в международном конкурсе "Молодые умы для умного города"</h2>
  <h3>24.06.2019</h3>
  <p>
    Нижний Новгород. 24 июня. НТА-Приволжье – Нижегородские студенты стали лучшими в международном конкурсе
    "Молодые умы для умного города", сообщают организаторы.
  </p>
  <p>
    Отметим, что команда студентом технического университета им. Р.Алексеева победила сразу в двух
    номинациях международного студенческого конкурса "Молодые умы для умного города". Награждение
    состоялось в Санкт-Петербурге в рамках форума IT-Диалог.
  </p>
  <p>Виртуальный Хакатон "Молодые умы для умного города" проходил в два этапа. На первом этапе
    каждая команда должна решить одну из представленных организаторами технических задач, показав
    таким образом навыки в решении реальных кейсов. На втором этапе команда должна предложить свое
    техническое решение задачи в одной из двух номинаций – "Умный город" и "Умный склад".
    Нижегородская команда выбрала вторую задачу, представила техническое решение идентификации
    аномалий на складе: сигнала о том, что коробка открыта, упала и т.д. с автоматическим
    формированием документов по наполнению склада. Проект был реализован на основе нейронной сети.
    Разработка получила премию в номинациях "Самое оригинальное решение, построенное с
    использованием библиотек и облачных сервисов, предоставленных корпорацией IBM" и "Самое
    эффективное решение для Умного склада".
  </p>
  <p>Премии из рук министра цифрового развития, связи и массовых коммуникаций РФ Константина Носкова получил
    руководитель нижегородской команды Мираббас Багиров.
  </p>
  <p>"Следующим нашим шагом станет доработка прототипа до готового пакетного решения, которое
    может быть внедрено на производстве", - сказал Мираббас Багиров.</p>
  <p> Источник:
    <a href="https://www.nta-nn.ru/news/society/2019/news_602511/">НТА-ПРИВОЛЖЬЕ</a>
  </p>
</section>
</div>
</body>
