<div class="education">
    <div class="students__title">Абитуриентам</div>
    <div [routerLink]="['', 'education_abiturient_catalog']" routerLinkActive="active" class="students__pro-education">
        <img src="../../assets/images/education_abiturient/pro.svg" alt="">
    </div>
    <div class="flex__section">
        <div class="flex__item">
            <img src="../../assets/images/education_abiturient/exams.svg" alt="">
        </div>
        <div class="flex__item">
            <img src="../../assets/images/education_abiturient/cources.svg" alt="">
        </div>
    </div>
</div>