<div class="education">
    <div class="students__title">Абитуриентам / Каталог образования</div>
    <div class="flex__section">
        <div class="flex__item">
            <div class="flex__item__title">
                Город:
            </div>
            <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
                <div class="group-gap">
                    <div class="d-block my-3">
                        <div class="mb-3">
                            <select class="custom-select" (change)="changeCity($event)" formControlName="cityName">
                            <option value="">Выберите город:</option>
                            <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
                         </select>
                            <!-- error block -->

                        </div>
                    </div>
                </div>
                <!-- Submit Button -->
            </form>
            <!-- Form ends -->
        </div>

        <div class="flex__item" style="margin-left: 141px;">
            <div class="flex__item__title">
                Уровень образования:
            </div>
            <form [formGroup]="educationForm" (ngSubmit)="onSubmit2()">
                <div class="group-gap">
                    <div class="d-block my-3">
                        <div class="mb-3">
                            <select class="custom-select" (change)="changeEducation($event)" formControlName="edName">
                            <option value="">Выберите образование:</option>
                            <option *ngFor="let ed of edLevels" [ngValue]="ed">{{ed}}</option>
                         </select>
                            <!-- error block -->

                        </div>
                    </div>
                </div>
                <!-- Submit Button -->
            </form>
            <!-- Form ends -->
        </div>
    </div>
    <hr>
    <div *ngFor="let item of list; let i = index" class="flex__section">
        <div class="flex__item-institute">
            <div class="institute__wrapper">
                <div class="ab-ed-catalog__item">
                    <img src="{{item.img}}" alt="" class="flex__item-institute-images">
                </div>
                <div class="ab-ed-catalog__item">
                    <img src="../../assets/images/education_abiturient/pin.svg" class="flex__item-institute-img" alt="">
                    <div (click)="goToInstitut(item)" class="flex__item-institute-title">
                        {{item.name}}
                    </div>
                    <div class="flex__item-institute-descr">
                        
                        <br> бюджетеных мест:
                        <b style="text-decoration: underline; color:#383636">{{item.budjet_places}}</b>
                        <b *ngIf="item.budjet_places == 0" style="text-decoration: underline; color:#383636"> (Не указано)</b>
                        <br> образовательных программ:
                        <b *ngIf="item.program.length != 0" style="text-decoration: underline; color:#383636">{{item.program.length}}</b>
                        <b *ngIf="item.program.length === 0" style="text-decoration: underline; color:#383636">Не указано</b><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>