.students__title {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 700px;
    height: 58px;
    color: #113079;
    background-color: #78A9EF;
    font-size: 36px;
    font-weight: bold;
}

.education {
    margin-top: 95px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 85%;
}

.flex__section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.flex__item {
    cursor: pointer;
    margin: 3.5px;
}

.flex__item__title {
    color: #383636;
    font-size: 22px;
    font-weight: bold;
}

select {
    width: 500px;
    height: 44px;
    font-size: 18px;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #E4EEF8;
    box-shadow: 0px 4px 4px rgba(38, 119, 189, 0.25);
    border-radius: 10px;
    border: none;
    cursor: inherit;
}

hr {
    height: 0px;
    width: 100%;
    border: 1px solid #000000;
    filter: blur(4px);
}

.flex__item-institute {
    width: 357px;
    background-color: #E4EEF8;
    height: 232px;
    flex: 1 1 auto;
    margin: 0 15px;
    border-radius: 15px;
}

.flex__item-institute-title {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    margin: 36px 35px;
    line-height: 21px;
    color: #383636;
}

.flex__item-institute-descr {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 35px;
    color: #383636;
}

.flex__item-institute-img {
    margin-top: 10px;
    float: right;
}