<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Page Title -->
  <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>

  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/img/favicon.png">

  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

  <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->



  <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

  <!-- ======= MAIN STYLES ======= -->

  <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">
  <!-- Header -->

  <!-- End Header -->

  <!-- Main Wrapper -->
  <div class="main-wrapper">
    <!-- Sidebar -->

    <!-- End Sidebar -->

    <!-- Main Content -->
    <div class="main-content d-flex flex-column flex-md-row">
      <div class="mb-4 mb-md-0">
        <!-- Tasks Aside -->
        <nav class="tasks_aside">
          <!-- Aside Header -->
          <div class="aside-header pr-0">
            <div class="aside-header-btn d-flex justify-content-end position-relative">
              <h4 class="aside-btn-text c1 d-xl-flex align-items-center">Добавить задачу</h4>
              <a href="add-new.html" class="btn-circle style--two">
                <img src="assets/img/svg/plus_white.svg" alt="" class="svg">
              </a>
            </div>
          </div>
          <!-- End Aside Header -->

          <!-- Aside Body -->
          <div class="aside-body">
            <ul class="nav flex-column">
              <li class="active"><a href="#">Все</a></li>
              <li><a >Избранные</a></li>
              <li><a >Сделаны</a></li>
              <li><a >Срочные</a></li>
              <li><a >Важные</a></li>

              <li class="nav-category bold font-14 mt-4">Уровни</li>
              <li class="lavel"><a >
                <span class="tag_color urgent"></span>
                Срочные</a>
              </li>
              <li class="lavel"><a >
                <span class="tag_color important"></span>
                Важные</a>
              </li>
              <li class="lavel"><a >
                <span class="tag_color not_important"></span>
                Не выжно</a>
              </li>
              <li class="lavel"><a >
                <span class="tag_color not_urgent"></span>
                Не срочно</a>
              </li>
              <li class="lavel"><a >
                <span class="tag_color average"></span>
                Нормальный </a>
              </li>
            </ul>
          </div>
          <!-- End Aside Body -->
        </nav>
        <!-- End Tasks Aside -->
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Card -->
            <div class="card todo-list">
              <div class="card-body p-0">
                <!-- Todo Single -->
                <div class="single-row border-bottom pt-4 pb-2">
                  <div class="d-flex justify-content-between align-items-start mb-20">
                    <!-- Todo Title -->
                    <h4 class="todo-title">Пятница, <br /> 26 марта 2021</h4>
                    <!-- End Todo Title -->

                    <!-- Dropdown Button -->
                    <div class="dropdown-button">
                      <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                        <div class="menu-icon style--two justify-content-center mr-0">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#">Daily</a>
                        <a href="#">Sort By</a>
                        <a href="#">Monthly</a>
                      </div>
                    </div>
                    <!-- End Dropdown Button -->
                  </div>

                  <!-- Todo Search -->
                  <div class="mb-30">
                    <form action="#" class="search-form">
                      <div class="theme-input-group">
                        <input type="text" class="theme-input-style" placeholder="Search Here">

                        <button type="submit"><img src="assets/img/svg/search-icon.svg" alt=""
                                                   class="svg"></button>
                      </div>
                    </form>
                  </div>
                  <!-- End Todo Search -->
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-urgent border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text">
                        <p class="card-text mb-1">Для отвлеченности очарованных прибавьте говорящий возраст. Застенчивого разрешения орудия безоговорочного человека мало.</p>
                        <p class="label-text font-12 mb-0">Срочно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-important border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text">
                        <p class="card-text mb-1">Образ настроения двух снисходительности необычайно собственное.</p>
                        <p class="label-text font-12 mb-0">Важно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-important border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text line-through">
                        <p class="card-text mb-1">Чей ей нравится главный новый молодой. Фелисити, если вам нужно, то же самое сомнительное. На такое внимание необходимо в соответствии с положениями в противном случае наличие</p>
                        <p class="label-text font-12 mb-0">Важно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-not_important border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text line-through">
                        <p class="card-text mb-1">Неугодно объявлять себя неприятным, ну ладно. Преимущество возраста привело к слушанию</p>
                        <p class="label-text font-12 mb-0">Не важно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-average border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text line-through">
                        <p class="card-text mb-1">
                          За спиной рано обедать так окно простите он летом. Завтрак встретил уверенность и соблюдение приличий.</p>
                        <p class="label-text font-12 mb-0">Нормально</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-not_urgent border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text">
                        <p class="card-text mb-1">Контрастный безоговорочный, как мистер особый, собирающий все как снисходительность. Кажется спросить значит веселый мог поставить.</p>
                        <p class="label-text font-12 mb-0">Не срочно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-not_urgent border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text">
                        <p class="card-text mb-1">
                          Выведен я скоро парк мимо прочитал Лайн. В качестве оправдания старшей нет момента. Очаровательные чердаки в частном коттедже. </p>
                        <p class="label-text font-12 mb-0">Не срочно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-not_urgent border-bottom pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text">
                        <p class="card-text mb-1">Сочувствовать, теперь предпочтение неприятно миссис Мало. Миссис для часовой игры</p>
                        <p class="label-text font-12 mb-0">Не срочно</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->

                <!-- Todo Single -->
                <div class="single-row level-average pt-3 pb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex position-relative">
                      <!-- Custom Checkbox -->
                      <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <!-- End Custom Checkbox -->

                      <!-- Todo Text -->
                      <a href="task-details.html" class="todo-text">
                        <p class="card-text mb-1">Маурис ненавидит футбольный сезон до белкового фильма.</p>
                        <p class="label-text font-12 mb-0">Нормально</p>
                      </a>
                      <!-- End Todo Text -->
                    </div>

                    <div class="d-flex">
                      <!-- Assign To -->
                      <div class="assign_to">
                        <img src="assets/img/svg/Info.svg" alt="" class="svg mr-2">
                        <div class="assign-content">
                          <div class="font-12 text-warning">Back-End</div>
                          <img src="assets/img/avatar/info-avatar.png" alt="" class="assign-avatar">
                        </div>
                      </div>
                      <!-- End Assign To -->

                      <!-- Drag Icon -->
                      <img src="assets/img/svg/dragicon.svg" alt="" class="svg">
                      <!-- End Drag Icon -->

                      <!-- Dropdown Button -->
                      <div class="dropdown-button">
                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                          <div class="menu-icon style--two w-14 mr-0">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#">Daily</a>
                          <a href="#">Sort By</a>
                          <a href="#">Monthly</a>
                        </div>
                      </div>
                      <!-- End Dropdown Button -->
                    </div>
                  </div>
                </div>
                <!-- End Todo Single -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->
  </div>
  <!-- End Main Wrapper -->


</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>
